a:hover {
    text-decoration: underline;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #e0e6e9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    font-family: "Libre Bodoni", serif;
    background-color: #e0e6e9;
    color: #000000;
    text-align: center;
    padding: 10px;
    font-size: 50px;

}
header h2{
    text-align: center;
}
nav {
    background-color: #e0e6e9;
    padding: 20px;
    text-align: center;
 
}

nav a {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    text-decoration: none;
    padding: 0px;
    margin: 0 120px;
    font-size: 20px;
    
}

section {
    padding: 20px;
    border: 2px solid #04383f;
    text-align: center;
}

@media only screen and (min-width:650px) {
    content{
      width: 75%;
  }
      header h1 {
  
      padding: 50px 10px 50px 10px;
      font-size: 50px;
  
  }
  }
@media only screen and (min-width: 1025px) {
  content{
    width: 55%;
}
    header h1 {

    padding: 50px 10px 50px 10px;
    font-size: 50px;

}
}